* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.hero div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 60%;
    text-align: center;
    z-index: 1;
}

.hero div p:first-child {
    opacity: 0.7;
    font-size: 30px;
    font-weight: 600;
}

.hero div h1 {
    font-size: 60px;
}

.hero div h1+p {
    opacity: 0.7;
}

.btn {
    background: rgb(82, 195, 3);
    font-size: 20px;
    color: white;
    padding: 21px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hero div * {
    margin: 20px 0;
}

.hero::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 99.5%;
    background-color: rgba(0, 0, 0, 0.3);
}

/* ######################### card section ########################## */

.card-section {
    width: 80%;
    margin: 100px auto;
    text-align: center;
}

.card-section header {
    width: 40%;
    margin: auto;
}

.card-section header p {
    font-size: 20px;
    opacity: 0.7;
}

.card-section header h1 {
    font-size: 35px;
    margin: 20px 0;
}

.cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 50px;
}

.card {
    width: 350px;
    text-align: center;
}

.card img {
    width: 100%;
}

.card-details p:first-child {
    background-color: rgba(82, 195, 3, 0.15);
    font-weight: bold;
    width: max-content;
    padding: 15px;
    border-radius: 5px;
    margin: 20px auto;
}

.card-details h1 {
    font-size: 30px;
}

.card-details p:last-child {
    opacity: 0.7;
}

.card-details * {
    margin: 20px 0 0 0;
}

/* ###################### about ################################ */

.about-section {
    display: flex;
}

.about-section > img:first-child {
    width: 50%;
    object-fit: contain;
}

.about-details {
    margin: auto;
    text-align: center;
}

.about-details header {
    padding: 0 40px;
}

.about-details h1 {
    font-size: 40px;
}

.about-details header p {
    font-size: 20px;
    opacity: 0.6;
    font-weight: 500;
}

.about-details > p {
    font-size: 30px;
    font-weight: bold;
    opacity: 0.6;
    padding: 15px 0;
    border-top: 1px solid rgba(128, 128, 128, 0.5);
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}

div.social-icons {
    width: max-content;
    margin: -30px auto 0 auto;
}

.social-icons * {
    transform: scale(0.7);
    padding: 0px 10px;
}

.about-details * {
    margin: 25px 0;
}

/* ######################## footer ########################### */

main > footer {
    border: 1px solid transparent;
    /* padding-top: 1px; */
    margin-top: 50px;
    background: linear-gradient(180.00deg, rgba(255, 253, 253, 0.8) 0%,rgba(255, 251, 251, 0.8) 100%), url("./assets/social-bg.png");
}

footer .about-details {
    width: 50%;
    margin: 130px auto;
}